@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  background-color: #f2f2f2;
  background-image: url('https://img5.goodfon.com/original/1920x1080/2/97/bitcoin-btc-black-gold-coin-bitkoin.jpg');
}

span,
h1,
h2,
h3,
h4,
strong,
p,
button {
  font: 14px 'Roboto', sans-serif;
  color: #999;
}
